<%= embed_view '../shared/_main_post.html.erb' %>

<div class="row mb-2">
  <%= embed_view '../shared/_second_post.html.erb' %>
</div>


<main role="main" class="container">
  <div class="row">
    <div class="col-md-8 blog-main">
      <h3 class="pb-3 mb-4 font-italic border-bottom">
        From the Firehose
      </h3>
      <%= embed_view '../shared/_post.html.erb' %>
    </div>
    <%= embed_view '../shared/_side_menu.html.erb' %>
  </div>

  <%= paginate @posts, theme: 'twitter-bootstrap-4' %>
</main>
